@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "inter var", sans-serif;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary:before {
    content: "→";
    margin-right: 0.5rem;
}

details[open] > summary:before {
    content: "↓";
    margin-right: 0.5rem;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("./assets/fonts/Inter.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("./assets/fonts/Inter-italic.var.woff2") format("woff2");
}

@font-face {
    font-family: "Satoshi var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("./assets/fonts/Satoshi-Variable.woff2") format("woff2");
}
